<h3 style="text-align: center;">Welcome {{name}}</h3>
<hr>
<h5>Here are the current top categories for <a href="https://twitch.tv" style="color: #6441A5"><i class="fab fa-twitch"></i> Twitch</a></h5>
<div id='scrolly' style='margin-bottom: 50px;'>
  {{#each twitchTop}}
    <a href="https://twitch.tv/directory/game/{{{this.name}}}">
      <img src="{{{this.box_art_url}}}" alt="img"/>
    </a>
  {{/each}}
</div>

<h5>Here are the current top ranked games according to <a href="https://www.igdb.com" style="color: #2b333c"><i class="fa fa-gamepad"></i> IGDB</a></h5>
<div style="margin-bottom: 50px;">
  <table style="text-align: center;">
    <tr>
      <th>Game</th>
      <th>Rating</th>
      <th>Release</th>
    </tr>
    <tr>
      {{#each IGDBtop}}
        <tr>
          <td><a href="http://localhost:8086/game?id={{{this.id}}}" style="color: purple;">{{{this.name}}}</a></td>
          <td>{{{this.rating}}}</td>
          <td>{{{this.first_release_date}}}</td>
        </tr>
      {{/each}}
    </tr>
  </table>
</div>
<h5 style="margin-bottom: 20px;">Top <a href="https://twitch.tv" style="color: #6441A5"><i class="fab fa-twitch"></i> Twitch</a> streamers</h5>
<div style="padding-left: 60px; padding-right: 60px; margin-bottom: 50px;">
  <div class="content">
    <div class="left">
      <script src= "https://player.twitch.tv/js/embed/v1.js"></script>
      <div id="midissocio"></div>
      <script type="text/javascript">
        var options = {
          height: 378,
          width: 672,
          channel: "{{{twitchStreams.entry0}}}"
        };
        var player = new Twitch.Player("midissocio", options);
        player.setVolume(0.5);
      </script>
    </div>
    <div class="right">
      <div class="box">
        <script src= "https://player.twitch.tv/js/embed/v1.js"></script>
        <div id="midissocio2"></div>
        <script type="text/javascript">
          var options = {
            height: 180,
            width: 320,
            channel: "{{{twitchStreams.entry1}}}"
          };
          var player = new Twitch.Player("midissocio2", options);
          player.setVolume(0.5);
        </script>
      </div>
      <div class="box">
        <script src= "https://player.twitch.tv/js/embed/v1.js"></script>
        <div id="midissocio3"></div>
        <script type="text/javascript">
          var options = {
            height: 180,
            width: 320,
            channel: "{{{twitchStreams.entry2}}}"
          };
          var player = new Twitch.Player("midissocio3", options);
          player.setVolume(0.5);
        </script>
      </div>
    </div>
  </div>
</div>
