<h3 style="text-align: center;">{{data.name}}</h3>
<hr>
<div style="height: fit-content;">
  <div class="row" style="margin-bottom: 0px">
    <div class="column" style="text-align: center; height: fit-content;">
      <img src="{{{cover}}}" alt="img" style="width: 200px; height: 250px; margin-bottom: 5px;"/>
      <div style="font-size: 20px">
        <b style="color: purple;">Rating</b>
        {{data.aggregated_rating}}
      </div>
      <div style="font-size: 20px">
        <b style="color: purple;">User score</b>
        {{data.rating}}
      </div>
    </div>
    <div class="column2" style="height: fit-content;">
      <br>
      <b style="color: purple;">Released on</b> {{data.first_release_date}}<br>
      <b style="color: purple;">Genres</b>
      {{#each genres}}
        {{this}} 
      {{/each}}
      <hr>
      {{data.summary}}
      {{#if data.storyline}}
        <hr>
        {{data.storyline}}
      {{/if}}
      <br><br>

    </div>
  </div>
</div>
<br>
<div style="text-align: center;">
  <table style="text-align: center;">
    <tr>
      <th>Store</th>
      <th>Lowest Price</th>
      <th>Value</th>
    </tr>
    {{#each prices}}
      <tr>
        <td>{{{this.storeName}}}</td>
        <td>{{{this.lowestPrice}}} $</td>
        <td>{{{this.hoursPerEuroRatio}}} h/$</td>
      </tr>
    {{/each}}
  </table>
</div>
