<h3 style="text-align: center;">Risultati per <span style="color: red;">{{query}}</span></h3>
<hr>
<div style="margin-bottom: 50px; padding-left: 100px; padding-right: 100px;">
  <table style="text-align: center;">
    <tr>
      <th>Game</th>
      <th>Release</th>
    </tr>
      {{#each search}}
        <tr>
          <td><a href="http://localhost:8086/game?id={{{this.id}}}">{{{this.name}}}</a></td>
          <td>{{{this.first_release_date}}}</td>
        </tr>
      {{/each}}
  </table>
</div>
<hr>
<div id='scrolly' style='margin-bottom: 50px;'>
  {{#each twitch}}
    <a href="https://twitch.tv/directory/game/{{{this.name}}}">
      <img src="{{{this.box_art_url}}}" alt="img"/>
    </a>
  {{/each}}
</div>
