<h3 style="text-align: center;">{{name}}</h3>
<hr>
<div class="row">
  <div class="column" style="text-align: center">
    <img src="{{{cover}}}" alt="img" style="width: 200px; height: 200px;"/>
    <span style="font-size: 20px"><b>User score</b> {{rating}}</span>
  </div>
  <div class="column2">
    <br>
    <b>Released on</b> {{release}}
    <hr>
    {{summary}}
    {{#if storyline}}
      {{storyline}}
      <hr>
    {{/if}}
    <br><br>

  </div>
</div>
<br>
