<h3 style="text-align: center;">Risultati per <span style="color: red;">{{query}}</span></h3>
<hr>
<div style="margin-bottom: 50px; padding-left: 100px; padding-right: 100px;">
  <table style="text-align: center;">
    <tr>
      <th>Game</th>
      <th>Release</th>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/game?id={{{search.entry0.id}}}">{{{search.entry0.name}}}</a></td>
      <td>{{{search.entry0.first_release_date}}}</td>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/game?id={{{search.entry1.id}}}">{{{search.entry1.name}}}</a></td>
      <td>{{{search.entry1.first_release_date}}}</td>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/game?id={{{search.entry2.id}}}">{{{search.entry2.name}}}</a></td>
      <td>{{{search.entry2.first_release_date}}}</td>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/game?id={{{search.entry3.id}}}">{{{search.entry3.name}}}</a></td>
      <td>{{{search.entry3.first_release_date}}}</td>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/game?id={{{search.entry4.id}}}">{{{search.entry4.name}}}</a></td>
      <td>{{{search.entry4.first_release_date}}}</td>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/game?id={{{search.entry5.id}}}">{{{search.entry5.name}}}</a></td>
      <td>{{{search.entry5.first_release_date}}}</td>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/game?id={{{search.entry6.id}}}">{{{search.entry6.name}}}</a></td>
      <td>{{{search.entry6.first_release_date}}}</td>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/game?id={{{search.entry7.id}}}">{{{search.entry7.name}}}</a></td>
      <td>{{{search.entry7.first_release_date}}}</td>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/game?id={{{search.entry8.id}}}">{{{search.entry8.name}}}</a></td>
      <td>{{{search.entry8.first_release_date}}}</td>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/game?id={{{search.entry9.id}}}">{{{search.entry9.name}}}</a></td>
      <td>{{{search.entry9.first_release_date}}}</td>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/game?id={{{search.entry10.id}}}">{{{search.entry10.name}}}</a></td>
      <td>{{{search.entry10.first_release_date}}}</td>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/game?id={{{search.entry11.id}}}">{{{search.entry11.name}}}</a></td>
      <td>{{{search.entry11.first_release_date}}}</td>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/game?id={{{search.entry12.id}}}">{{{search.entry12.name}}}</a></td>
      <td>{{{search.entry12.first_release_date}}}</td>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/game?id={{{search.entry13.id}}}">{{{search.entry13.name}}}</a></td>
      <td>{{{search.entry13.first_release_date}}}</td>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/game?id={{{search.entry14.id}}}">{{{search.entry14.name}}}</a></td>
      <td>{{{search.entry14.first_release_date}}}</td>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/game?id={{{search.entry15.id}}}">{{{search.entry15.name}}}</a></td>
      <td>{{{search.entry15.first_release_date}}}</td>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/game?id={{{search.entry16.id}}}">{{{search.entry16.name}}}</a></td>
      <td>{{{search.entry16.first_release_date}}}</td>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/game?id={{{search.entry17.id}}}">{{{search.entry17.name}}}</a></td>
      <td>{{{search.entry17.first_release_date}}}</td>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/game?id={{{search.entry18.id}}}">{{{search.entry18.name}}}</a></td>
      <td>{{{search.entry18.first_release_date}}}</td>
    </tr>
    <tr>
      <td><a href="http://localhost:3000/game?id={{{search.entry19.id}}}">{{{search.entry19.name}}}</a></td>
      <td>{{{search.entry19.first_release_date}}}</td>
    </tr>

  </table>
</div>
