<h3 style="text-align: center;">{{name}}</h3>
<div style="text-align: center;">
  <b>{{summary}}</b>
</div>
<hr>
<div class="row">
  <div class="column" style="text-align: center">
    <img src="{{{cover}}}" alt="img" style="width: 200px; height: 200px;"/>
    <span style="font-size: 20px"><b>User score</b> {{rating}}</span>
  </div>
  <div class="column2">
    <br>
    {{storyline}}
    <br><br>

  </div>
</div>
<br>
